<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'api_app/css/notification.css' %}">
{% endblock %}

{% block content %}

<!-- This is the non-rearrangeable version-->
<div class="container" id="badgeGrid">
  <div class="row">
    <div class="column">
      <div class="card-container">
        <div class="jumbotron" id="notification-grid">
          <a class="icon-centered" href="#">
            <i class="far fa-envelope"></i>
            <p id="mail">Mail arrived at:<p>
          </a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card-container">
        <div class="jumbotron" id="notification-grid">
          <a class="icon-centered" href="#">
            <i class="fas fa-tint"></i>
            <p id="basement_water">Water detected<p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="card-container">
        <div class="jumbotron" id="notification-grid">
          <div class="flex-container">
            <a href="#">
              <i class="fas fa-thermometer-three-quarters"></i>
              <p>Kitchen:</p>
              <p id="kitchen"></p>
            </a>
            <a href="#">
              <i class="fas fa-thermometer-three-quarters"></i>
              <p>Living Room:</p>
              <p id="livingroom"></p>
            </a>
            <a href="#">
              <i class="fas fa-thermometer-three-quarters"></i>
              <p>Man Cave:</p>
              <p id="mancave"></p>
            </a>
            <a href="#">
              <i class="fas fa-thermometer-three-quarters"></i>
              <p>Bedroom:</p>
              <p id="bedroom"></p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card-container">
        <div class="jumbotron" id="notification-grid">
          <a class="icon-centered" href="#">
            <i class="fas fa-door-open"></i>
            <i class="fas fa-door-closed" style="display: none;"></i>
            <p id="doors">Open door detected<p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="card-container">
        <div class="jumbotron" id="notification-grid">
          <a class="icon-centered" href="#">
            <i class="fas fa-dog"></i>
            <p id="dogbowl">Dog Bowl Level:</p>
          </a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card-container">
        <div class="jumbotron" id="notification-grid">
          <p>Other</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block jquery %}
<script src="{% static '/api_app/js/getAPI.js' %}" type="text/javascript"></script>
{% endblock %}
