<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'api_app/css/notification.css' %}">
{% endblock %}

{% block content %}

<!-- This is the non-rearrangeable version-->
<div class="container" id="badgeGrid">
  <div class="row">
    <div class="column">
      <div class="card-container">
        <div class="jumbotron" id="notification-grid">
          <a class="icon-centered" href="#">
            <i class="far fa-envelope"></i>
            <p>Mail arrived at:<p>
          </a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card-container">
        <div class="jumbotron" id="notification-grid">
          <a class="icon-centered" href="#">
            <i class="fas fa-tint"></i>
            <p>Water detected<p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="card-container">
        <div class="jumbotron" id="notification-grid">
          <div class="flex-container">
            <a href="#">
              <i class="fas fa-thermometer-three-quarters"></i>
              <p>Temperatures</p>
              <p id="kitchen"></p>
            </a>
            <a href="#">
              <i class="fas fa-thermometer-three-quarters"></i>
              <p>Temperatures</p>
              <p id="livingroom"></p>
            </a>
            <a href="#">
              <i class="fas fa-thermometer-three-quarters"></i>
              <p>Temperatures</p>
              <p id="room3">Room3</p>
            </a>
            <a href="#">
              <i class="fas fa-thermometer-three-quarters"></i>
              <p>Temperatures</p>
              <p id="room4">Room4</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card-container">
        <div class="jumbotron" id="notification-grid">
          <a class="icon-centered" href="#">
            <i class="fas fa-door-open"></i>
            <p>Open door detected<p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="card-container">
        <div class="jumbotron" id="notification-grid">
          <p>Temperatures</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card-container">
        <div class="jumbotron" id="notification-grid">
          <p>Other</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block jquery %}
<script src="{% static '/api_app/js/getAPI.js' %}" type="text/javascript"></script>
{% endblock %}
