<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="column">
      <div class="card-container">
        <div class="jumbotron" id="notification-grid">
          <p>Column - Mail</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card-container">
        <div class="jumbotron" id="notification-grid">
          <p>Column 2 - Water</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="card-container">
        <div class="jumbotron" id="notification-grid">
          <p>Temperatures</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card-container">
        <div class="jumbotron" id="notification-grid">
          <p>Other</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="card-container">
        <div class="jumbotron" id="notification-grid">
          <p>Temperatures</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card-container">
        <div class="jumbotron" id="notification-grid">
          <p>Other</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
