canvas {
  border-bottom-right-radius: 0.7rem;
}

.chart-container {
  /**height: 280px;**/
  position: relative;
  min-height: 500px;
  width: 100%;
  padding: 10px;
  display: flex;
}

#chart-jumbo {
  margin: 15px;
}
