#notification-grid {
  width: 100%;
  height: 280px;
  padding: .75rem;
  margin-bottom: 2rem;
}

.card-container {
  height: 280px;
  width: 100%;
  padding: 10px;
}

.column {
  width: 50%;
  margin-bottom: 2%;
}

.row {
  padding-top: 5px;
}

@media only screen and (max-width: 1000px) {
  .column {
    width: 100%;
    margin-bottom: 40%;
  }
  .card-container {
    height: 80px;
    padding: 5px;
  }
}
