#notification-grid {
  display: flex;
  width: 100%;
  height: 280px;
  padding: .75rem;
  margin-bottom: 2rem;
}

.card-container {
  height: 280px;
  width: 100%;
  padding: 10px;
}

.column {
  width: 50%;
  margin-bottom: 2%;
}

.row {
  padding-top: 5px;
}

.icon-centered {
  margin: auto;
}

#badgeGrid a i {
  display: block;
  font-size: 150px;
  color: #c5c7ca;
  text-align: center;
}

#badgeGrid a p {
  text-align: center;
  display: block;
  color: inherit;
}

@media only screen and (max-width: 1000px) {
  .column {
    width: 100%;
    margin-bottom: 40%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .card-container {
    height: 80px;
    padding: 5px;
  }
}
